/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */
/*
 Using modular scale taken from here, assume all line height is 22 px and font height is 18 px from here.
https://www.modularscale.com/?18&px&1.618
*/
html {
  background: #000099;
  color: #ccffff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.125em; /* 18/16= 1.125 */
  line-height: 1.2222em; /* 22/18= 1.222em */
  padding: 1.2222em; /* 22/18= 1.222em */
}
h1 {
  font-size: 1.618em; /* 29.124/18= 1.618em */
  line-height: 1.5107814em;/* 44/29.124= 1.5107814em */
}
p {
  font-size: 0.618em; /* 11.25/18= 1.222em */
  line-height: 1em; /*16.5/18=.916em */
  padding-bottom: 1.2222em; /* 22/18= 1.222em */
}
/* Forms */
input,
label {
  display: block;
  box-sizing: border-box;
}
input {
  padding: 0;
  margin: 0;
  font-size: inherit;
  line-height: 1;
  border: 0;
  outline: 0;
  width: 100%;
}
input[type="tel"] {
  margin-bottom: 0.61111111em; /* 11/18 = 0.61111111em */
  background-color: rgba(51, 102, 255, 1.0);
}
input[type="tel"]:focus {
  background-color: #fffcdc;
}
input[type="submit"] {
  margin-bottom: 0.61111111em; /* 11/18 = 0.61111111em */
  background-color: rgba(255, 255, 255, 1.0);
}
input[type="submit"]:disabled {
  background-color: rgba(191,102,63, 0.3);
}
/*Diagnostic CSS*/
/**
* A quick baseline grid overlay using css+svg.
* Inspired by [Basehold.it](https://basehold.it/).
* @author leshido
*/
body.g {
  position: relative;
}
body.g::after {
  background: url('data:image/svg+xml;utf8,<svg height="22" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 0, 0.3)" /></svg>') repeat top left;
}
body.g:active::after {
  display: none;
}
